__pycache__/
*.pyc
*.pyo
venv/
.env
controle-candidatos/controle-candidatos/.vscode/settings.json
controle-fluxo/controle-fluxo/.vscode/settings.json
exemplo-pacotes/exemplo-pacotes/.vscode/settings.json
