__pycache__/
*.pyc
*.pyo
venv/
.env
controle-candidatos/controle-candidatos/.vscode/settings.json
controle-fluxo/controle-fluxo/.vscode/settings.json
exemplo-pacotes/exemplo-pacotes/.vscode/settings.json
getters-setters/getters-setters/.vscode/settings.json
construtores/construtores/.vscode/settings.json
enums/enums/.vscode/settings.json
heranca-polimorfismo/1-heranca-polimorfismo/1-heranca-polimorfismo/.vscode/settings.json
